
$OxygenFontFamily: "Oxygen", sans-serif;
$InterFontFamily: "Inter", sans-serif;
$OxygenMonoFontFamily: "OxygenMono", sans-serif;
$QuicksandFontFamily: "Quicksand",sans-serif;
$SucabaFontFamily: "Sucaba",sans-serif;
