@import "constants";

.home-page {
  display: flex;
  .cover-image-wrap {
    flex: 1;
  }
}

.cover-image {
  width: 330px;
  margin-left: 150px;
}

.air-bro-wrap {
  display: flex;
  font-family: $InterFontFamily;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 500px;
  flex: 1;

  .air-bro {
    font-size: 160px;
    line-height: 194px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Baloo Tamma 2';
  }
  .secondary-text {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 500px;
  }
  .drop-it-button {
    padding: 12px 18px;
    background: #554cbf;
    min-width: 210px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 900;
    color: #fff;
  }
}
