@import "constants";

.collection-reward-wrap {
  display: flex;
  font-family: $InterFontFamily;
  margin-top: 70px;
  .head-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: $InterFontFamily;
    font-size: 48px;
    line-height: 72px;
    color: #ffffff;
    flex: 2;
    .headline-primary-text {
      font-weight: bold;
    }
  }
  .address-to-reward-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    flex: 3;
    .headline-secondary-text {
      font-size: 24px;
      line-height: 32px;
      color: #b8c2c7;
    }
  }
  .add-to-list-button,
  .approve-drop-button {
    padding: 12px 18px;
    background: #554CBF;
    color: #FFFFFF;
    min-width: 210px;
    cursor: pointer;
    &:disabled {
      background: #797e84;
      cursor: default;
      color: #b8c2c7;
    }
  }
  .info-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #212121;
    width: 100%;
    height: 47px;
    border: 1px solid;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .info {
    display: flex;
    margin: 20px 0 20px 0;
    gap: 5px;
    .info-text {
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
    }
    .info-icon {
      width: 21px;
      height: 21px;
    }
  }
  .text {
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
  } 
}
