@font-face {
  font-family: "Oxygen";
  src: url("./Fonts/Oxigen-Regular-Bold.ttf") format("truetype"),
    url("./Fonts/Oxygen-Regular.ttf") format("truetype"),
    url("./Fonts/Oxygen-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("./Fonts/Quicksand-VariableFont_wght.ttf") format("truetype"),
    url("./Fonts/Quicksand-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sucaba";
  src: url("./Fonts/sucaba.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OxygenMono";
  src: url("./Fonts/OxygenMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./Fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
