@import "constants";

.address-balance-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .network,
  .address {
    display: flex;
    background: #272727;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    min-width: 300px;
  }
}
.network {
  font-family: $InterFontFamily;
  display: flex;
  align-items: center;
  .matic-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}
.address {
  font-family: $InterFontFamily;
  display: flex;
  justify-content: space-between;
  .avatar-wrap {
    display: flex;
    align-items: center;
    .avatar-icon {
      margin-right: 10px;
    }
  }
}

.disconnect-icon {
  cursor: pointer;
}
